
/* Import the Ubuntu Font */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* This is the class that translates the alert up and makes it invisible when you click on the x */
.invisible {
  transform: translateY(-30px);
  opacity: 0;
}
/* Make the cursor a pointer on the website */
* {
  cursor: pointer;
}

/* This sets up transitions for each of the individual elements on our navigator */
.navHistory {
  width: 140px;
  transition: font-size 0.3s ease, border-bottom 0.3s ease;

}

.navbar-toggler-icon{
  filter: invert(1);
  margin-left: 10px
}
/* #firstFOneCard {
  display: 
} */

/* This is the first image we see, it is styles on a div that would have a background image */
#landingIntro {
    background-image: url("img/f1-bahrain-8y354uaxrhemdg0n.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .hover-underline-animation {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  @media (max-width: 900px) {
    .weAre {
      font-size: 3rem !important;
    }
  }
  .hover-underline-animation::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust this value to control the distance below the text */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }
  

  body {
    font-family: Arial, sans-serif;
}
/*table css*/
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
}
@media (max-width: 600px) {
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
/* Style the "|" on the landing page */
#underscore {
  font-weight: 100;
  top: 10px;
  font-family: 'Ubuntu';
}
/* Style the starting alert on the landing page */
#startingAlert {
  transition: all 0.5s ease-in;
}

.nb-background-color {
  background-color: black;
}


.nbMenuItem{               /* navbar link text properties */
  font-size:25px;
  margin-left: 10px;
  margin-right: 10px;
}

.index-text{
  color:white;
}

/* style the cards on index page*/
.card {
  background-color: #1e1e1e; 
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}


/* style the title for the cards*/
.card-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #e0e0e0; 
  margin-bottom: 15px;
  text-align: center;
}

/*style the text for the cards*/
.card-text {
  color: #fff;
  font-size: 1em;
  line-height: 1.6;
}

/*style the images on the cards*/
.card img {
  border-radius: 8px;
  transition: transform 0.3s ease;
  max-width: 100%;
  height: auto;
}

/*expand the card for the cards*/
.card img:hover {
  transform: scale(1.1);
}

.row.index-text .card {
  margin: 15px 0; 
}

@media (max-width: 768px) {
  .card {
    margin: 10px 0; 
  }
}

/*carousel css*/
.carousel_items {
  text-align: center;
  display: flex;
  justify-content: center;
}

/*carousel item css*/
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*css for images in carousel*/
.carousel-item img {
  height: 300px;
  width: auto; 
  display: inline-block;
}

/*css for text in carousel*/
.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

/*css for carousel items*/
.carousel-item img {
  width: 100%; 
  height: auto; 
  max-height: 300px; 
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 200px; 
  }
}

.weAre {
  display: inline;
  font-family: "Ubuntu";
  color: white;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  letter-spacing: .03em;
}

/* This is for our font-families */
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* Make the navbar black with a height of 80px and make the text large and white */
.navbar-container {
  background-color: black;
  height: 80px;
}

.navbar-link{
  text-decoration: none;
  color: white;
  margin: 30px;
  font-size: 20px;
  
}
/* If you hover over a navbar element turn it red */
.navbar-link:hover {
  color: #FF2C23;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Toggler border color */
}
.navbar-toggler-icon{
  color: white;
  margin : 5px
}
.navbar{
  width: 100%;
}

.home{
  display: block;

  font-family: "Ubuntu", sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
  justify-self: end;
    /* pointer-events: none; */
}

.Hotspot {

    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    /* background-color: transparent; */
    box-sizing: border-box;
    /* pointer-events: none; */
 
}
/* This is the annotation on the model viewer */
.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  position: absolute;
  /* transform: translate(10px, 10px); */
  border-radius: 10px;
  padding: "80%";

} 
/* This is the icon on the navbar element */
.icon {
  height: 90px;
  width: auto;
}
/* makes the background black */
.body{
  background-color: black;
}
/* makes the div a black gradient */
.black-gradient{
 
    height: 1000px;
    z-index: 0;
    position: relative;
    bottom:800px;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1),  rgba(0,0,0,1));
}

/* makes the textbox o*/
.textbox{
  color:white;
  margin-top:700px;
  margin-left:50%;
  text-align:center;
  font-size:30px;
}

.landingIntroDiv{
  justify-content: center;
  align-items: center;
}
/* Align the card text and title with a large font size to pop out at the user */
.cardTitle {
  text-align: center; font-size: 150%;
  display:none;
}

.cardText {
  font-size: 1em;
  width: 60%;
  margin: 0 auto;

}
/* Each history card should have 60% width and be horizontally center */
.historyCards {
  width: 60%;
  margin: 0 auto;
  text-shadow: none;
  color: white;
  padding: 15px;
  border-radius: 20px;
  bottom: 20px;
  right: 20px;
}

/* Each page could center the card vertically */
.historyPages {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  /* On a small page, make the history titles larger and the cards wider */
  .historyCards {
    width:100% !important;
    margin-left: 0px !important;

  }
  #historyTitle { 
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  /* Make the alert span 80% of the width of the page */
  #startingAlert {
    width: 70% !important;
  margin-left: 5% !important;

  }
  /*history page css*/
  .navHistory {
    display: none;  
  }
  .historyCards {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .cardTitle {
    text-align: center; font-size: 150%;
    display:block;
    margin-bottom: 20px
  }
  .historyPages {
    display: flex;
    align-items: center;
  }
  .cardText {
    font-size: .8em;
    width: 80%
  }
  
}
#chart-wrapper{
  margin: 0px;
  padding: 10px;
  /* If nesting a chart's container within another container, remove the 
     height and width values.  The outer container will control the dimensions */ 
  height: 80vh; 
  width:  100vw;
  min-height: 400px;
  background-color: whitesmoke !important;
  justify-content: center;
  align-items: center;  
}
@media (max-width: 600px) {
  /* 
  Change the background image on the final page to give more of Hamilton's face
   */
  #historySixPage {
    background-image: url('img/hamiltonCropped.png') !important;

  }
}




ol {
      padding-left: 20px;
    }

    ol li {
      background-color: #333;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      list-style-type: none;
      font-size: 1.2rem;
      color: white;
    }

    button {
      background-color: #f5a623;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #ff8e00;
    }

    button:focus {
      outline: none;
    }

    

    /* #contextList a:hover {
      text-decoration: underline; Optionally add underline on hover
    } */

    /* Highlight selected item */
    
    
    .selected a {
      color: black; /* Ensure the link text is black when selected */
    }
    
    #contextList a {
      color: #f0f0f0; /* Default link color */
      text-decoration: none;
    }
    #contextList li:hover {
      border: 2px solid;  
      border-color: #be123c;
    }
    #contextList li.selected {
      color: black; /* Make the text color black when selected */
      background-color: #f0f0f0;
    }
    #guessPageLink:hover {

      background-color: #F43F5E !important;
    }
    
    #contextList li.selected a {
      color: black; /* Ensure the link text is black */
    }
    #contextList {
      max-height: 600px; /* Set a fixed height for the scrollable list */
      max-width: 600px; /* Set a fixed width for the scrollable list */
      overflow-y: scroll; /* Allow vertical scrolling */
      padding-left: 0; /* Remove default padding for ordered list */
      list-style: none; /* Remove default numbering */
    }
    
    #contextList li {
      padding: 8px 10px;
      display: flex;
      align-items: center;
      background-color: black;
      color: #94a3b8 !important; /*Make text-color grayish*/

    }
    #signInButton:hover {
      background-color:#BE123B;
      color:white !important;
      
    }
    #contextList {
      margin-top: 50px;
    }

    #contextList li a {
      text-decoration: none;
      color: #f0f0f0;
      flex-grow: 1; /* Make the link take up all available space */
    }

    #contextList li .number {
      margin-right: 10px;
      font-weight: bold;
    }

    /* Add space between the number and name */
    #contextList li span.number {
      margin-right: 15px;
    }

    /* Style for the selected list item */
.selected {
  background-color: #f0f0f0;
}

/* Default link styles */
#contextList a {
  color: #007bff;
  text-decoration: none;
}

#contextList a:hover {
  text-decoration: underline;
}

/* Override link styles within selected items */
#contextList li.selected a {
  color: #000; /* Ensure link text is black when selected */
}


model-viewer {
  width: 110%;  /* 100% of the container width */
  height: 80vh;  /* 80% of the viewport height */
  max-height: 90vh;
  background-color: black;
  border: 10px solid aliceblue;
}

.HotspotAnnotation h5 {
  font-size: 1.1vw; /* Scale based on viewport width */
}

.HotspotAnnotation p {
  font-size: 0.95vw; /* Smaller text size */
}