.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  cursor: pointer;
}
.navHistory {
  width: 140px;
  transition: font-size 0.3s ease, border-bottom 0.3s ease;

}

/* #firstFOneCard {
  display: 
} */

#landingIntro {
    background-image: url("img/racecar1.png");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    cursor: pointer;
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
  }

  body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
}
@media (max-width: 600px) {
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

#underscore {
  font-weight: 100;
  top: 10px;
  font-family: 'Ubuntu';
}

#startingAlert {
  transition: all 0.5s ease-in;
}

.invisible {
  transform: translateY(-30px);
  opacity: 0;
}

.index-text{
  color:white;
}

.card {
  background-color: #1e1e1e; 
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}



.card-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #e0e0e0; 
  margin-bottom: 15px;
  text-align: center;
}

.card-text {
  color: #fff;
  font-size: 1em;
  line-height: 1.6;
}

.card img {
  border-radius: 8px;
  transition: transform 0.3s ease;
  max-width: 100%;
  height: auto;
}

.card img:hover {
  transform: scale(1.1);
}

.row.index-text .card {
  margin: 15px 0; 
}

@media (max-width: 768px) {
  .card {
    margin: 10px 0; 
  }
}

.carousel_items {
  text-align: center;
  display: flex;
  justify-content: center;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-item img {
  height: 300px;
  width: auto; 
  display: inline-block;
}

.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

.item1 {
  background-image: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.item2 {
  background-image: url("https://images.unsplash.com/photo-1501862700950-18382cd41497?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=519&q=80");
}

.item3 {
  background-image: url("https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHNwYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.item4 {
  background-image: url("https://images.unsplash.com/photo-1620712943543-bcc4688e7485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8QUl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.weAre {
  display: inline;
  font-family: "Ubuntu";
  color: white;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  letter-spacing: .03em;
}


.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-container {
  background-color: black;
  height: 80px;
}

.navbar-link{
  text-decoration: none;
  color: white;
  margin: 30px;
  font-size: 20px;
  
}

.navbar-link:hover {
  color: #FF2C23;
}

.Hotspot {
  
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    /* background-color: transparent; */
    box-sizing: border-box;
    /* pointer-events: none; */
 
}
.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  position: absolute;
  /* transform: translate(10px, 10px); */
  border-radius: 10px;
  padding: "80%";

} 

.icon {
  height: 90px;
  width: auto;
}
.body{
  background-color: black;
}
.black-gradient{
 
    height: 1000px;
    z-index: 0;
    position: relative;
    bottom:800px;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1),  rgba(0,0,0,1));
}

.textbox{
  color:white;
  margin-top:700px;
  margin-left:50%;
  text-align:center;
  font-size:30px;
}

.landingIntroDiv{
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  #firstFOneCard {
    width:100% !important;
    margin-left: 0px !important;

  }
  #historyTitle { 
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .navHistory {
    display: none;  
  }
  #firstFOneCard {
    width:90% !important;

    display: flex;
  }
}
