.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#landingIntro {
    background-image: url("img/racecar1.png");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    cursor: pointer;
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
  }



#underscore {
  font-weight: 100;
  top: 10px;
  font-family: 'Ubuntu';
}

.weAre {
  display: inline;
  font-family: "Ubuntu";
  color: white;
  font-weight: 700;
  font-size: 7em;
  text-align: center;
  letter-spacing: .03em;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-container {
  background-color: black;
  height: 80px;
}

.navbar-link{
  text-decoration: none;
  color: white;
  margin: 30px;
  font-size: 20px;
  
}

.navbar-link:hover {
  color: #FF2C23;
}

.icon {
  height: 90px;
  width: auto;
}

.black-gradient{
 
    height: 1000px;
    z-index: 2;
    position: relative;
    bottom:  -25%;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,1),  rgba(0,0,0,1));

}

.landingIntroDiv{
  justify-content: center;
  align-items: center;
}